
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #00ff00; /* Neon Green */
    font-family: 'BauSF', sans-serif;
}
h1, h4{
    margin:auto;
}
header {
    background-color: #000;
    color: #00ff00;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 1vh;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #00ff00;
    font-weight: bold;
    font-size: small;
}

footer {
    height: 5vh;
    font-size: 0.5rem;
}

#cli {
    background-color: #000;
    color: #00ff00;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

#cli-output {
    height: 55vh;
    overflow-y: auto;
    border: 1px solid #00ff00;
    padding: 10px;
    line-height: 1.4;
    font-size: 1.1rem; /* Adjust the font size as needed */

}

#cli-output ul {
    list-style-type: none;
}

#cli-output li::before {
    content: "> ";
}

#cli-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #00ff00;
    border-radius: 5px;
    background-color: #000;
    font-family: 'BauSF', sans-serif;
    color: #00ff00;
    font-size: 1.1rem; /* Adjust the font size as needed */
}
/* Scrolling animation */

/* Media Queries for Responsiveness */

@media only screen and (max-width: 600px) {
    header {
        font-size: 0.8rem;
    }

    nav a {
        font-size: x-small;
    }

    footer {
        font-size: 0.4rem;
    }

    #cli-output {
        font-size: 1rem;
    }

    #cli-input {
        font-size: 8px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    header {
        font-size: 1rem;
    }

    nav a {
        font-size: small;
    }

    footer {
        font-size: 0.5rem;
    }

    #cli-output {
        font-size: 1.1rem;
    }

    #cli-input {
        font-size: 10px;
    }
}
.cursor {
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
